/* Загальні стилі */
.nav-link {
  font-weight: 500;
  transition: 0.2s;
}

.nav-link:hover {
  color: #0d6efd;
}

/* Лінії по боках */
.custom-header::before,
.custom-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1.5px;
  background-color: #a3a3a3;
  width: 43%;
}

.custom-header::before {
  left: 0;
}

.custom-header::after {
  right: 0;
}

/* Кнопка (великий екран) */
.order-btn {
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  transition: 0.3s;
}

.order-btn:hover {
  background-color: #415050;
  color: #fff;
}

/* Малий екран */
@media (max-width: 991.98px) {
  .custom-header {
    background-color: #7D959633;
    padding: 10px 15px;
  }

  /* Лінії прибираємо */
  .custom-header::before,
  .custom-header::after {
    display: none;
  }

  /* Кнопка */
  .order-btn-sm {
    background-color: #fff;
    border: 1px solid #fff;
    color: #415050;
    transition: 0.2s;
  }

  .order-btn-sm:hover {
    background-color: #415050;
    color: #fff;
  }

  /* Бургер */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,0.9)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  /* Меню справа */
  .offcanvas {
    background-color: rgba(125, 149, 150, 0.95);
    backdrop-filter: blur(5px);
  }

  .offcanvas .nav-link {
    color: #fff !important;
  }

  .offcanvas .nav-link:hover {
    color: #dcdcdc !important;
  }
}
