//@import "../../styles/variables";
//
//.navbar {
//  padding: 0 15px;
//  background-color: transparent;
//
//  &-nav {
//    li {
//      padding: 10px 0;
//      position: relative;
//
//      a {
//        padding: 10px 0;
//        text-transform: uppercase;
//        letter-spacing: .05em;
//        color: rgba(255, 255, 255, 0.6);
//        font-size: 15px;
//        text-decoration: none;
//        padding-left: 25px;
//        font-family: $opensans-light;
//        cursor: pointer;
//      }
//    }
//
//    .active {
//      a {
//        color: #fff;
//      }
//
//      &:before {
//        content: '';
//        position: absolute;
//        max-width: 0;
//        width: 100%;
//        height: 3px;
//        background-color: #60b8b7;
//        top: 0;
//        left: 50%;
//        transform: translateX(-50%);
//        -webkit-transition: max-width 0.7s;
//        -moz-transition: max-width 0.7s;
//        -ms-transition: max-width 0.7s;
//        -o-transition: max-width 0.7s;
//        transition: max-width 0.7s;
//      }
//    }
//
//    .dropdown-menu {
//      min-width: 17rem;
//      z-index: 9999;
//      box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
//      bordert: 1px solid #edf0f5;
//      border-right: 1px solid #edf0f5;
//      border-bottom: 1px solid #edf0f5;
//      border-radius: 0;
//      padding: 0 0;
//      margin-top: 0;
//      margin-left: 0;
//      background: #fff;
//      -webkit-transition: .2s 0s;
//      -o-transition: .2s 0s;
//      transition: .2s 0s;
//
//      li {
//        list-style: none;
//        padding: 0;
//        margin: 0;
//        min-width: 210px;
//
//        a {
//          color: #000;
//          padding: 9px 20px;
//          display: block;
//          font-size: 16px;
//          text-transform: none;
//          margin: 0;
//
//          &:hover {
//            background: #f4f5f9;
//            color: #25262a;
//          }
//        }
//      }
//
//      .active {
//        a {
//          color: #000 !important;
//        }
//      }
//    }
//
//    .arrow-top {
//      position: absolute;
//
//      &:before {
//        bottom: 100%;
//        left: 20%;
//        border: solid transparent;
//        content: " ";
//        height: 0;
//        width: 0;
//        position: absolute;
//        pointer-events: none;
//        border-color: rgba(136, 183, 213, 0);
//        border-bottom-color: #fff;
//        border-width: 10px;
//        margin-left: -10px;
//      }
//    }
//  }
//}
//
//.dropdown-link:hover .dropdown-menu {
//  display: block;
//}
//
//.dropdown-link {
//  >a {
//
//  }
//}
//
//.logo {
//  display: block;
//
//  img {
//    width: 170px;
//  }
//}
//
//.logo-img {
//  fill: red;
//}
//
//.navbar-collapse {
//  -ms-flex-preferred-size: 100%;
//  flex-basis: 100%;
//  -webkit-box-flex: 1;
//  -ms-flex-positive: 1;
//  flex-grow: 1;
//  -webkit-box-align: center;
//  -ms-flex-align: center;
//  align-items: center;
//  justify-content: flex-end
//}
//
//#navbar_top {
//  background: transparent;
//  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
//}
//
//.order-call {
//  display: none;
//  height: 45px;
//  padding: 10px;
//  border: 1px solid $site-color-2;
//  background-color: $site-color-2;
//  color: #ffffff;
//  outline: none;
//  font-family: $opensans-light;
//  text-transform: uppercase;
//
//  i {
//    font-size: 16px;
//    color: #ffffff;
//  }
//}
//
//.fixed-top {
//  background: rgba(0, 0, 0, 0.8) !important;
//
//  .logo {
//    display: none;
//  }
//
//  .order-call {
//    display: block;
//  }
//}
//
//.navbar-toggler {
//  border: 1px solid $site-color-2;
//  outline: none;
//
//  span {
//    color: $site-color-2;
//  }
//}
//
//@media screen and (min-width: 992px) {
//  .navbar-collapse {
//    flex-basis: auto;
//  }
//}
//
//@media screen and (max-width: 991px) {
//  .navbar-nav {
//    li {
//      a {
//        margin-left: 0;
//        padding-left: 0;
//      }
//    }
//  }
//
//  #navbar_top {
//    //background: rgba(0, 0, 0, 0.2);
//  }
//}
//
.mobile_logo {
  display: none;
}
@media screen and (max-width: 1024px){
  .mobile_logo {
    display: block;
  }
  .desctop_logo {
    display: none;
  }

}
