<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a href="/" class="mobile_logo">
      <img src="assets/images/logo.png" alt="3D-print" width="90">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
      <a href="/" class="desctop_logo">
        <img src="assets/images/logo.png" alt="3D-print" width="90">
      </a>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--<div id="navbar_top">-->
<!--  <nav class="navbar navbar-expand-lg container navbar-dark">-->
<!--    <div class="logo">-->
<!--      <a href="/"><img src="../../../assets/images/logo.svg" alt="BV Dental clinic"></a>-->
<!--    </div>-->
<!--    <button type="button" class="btn order-call" (click)="makeAppointment()">-->
<!--      <i class="fa fa-plus-circle" aria-hidden="true"></i>-->
<!--      {{'HeaderContent.OrderAppointment'}}-->
<!--    </button>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item"  (click)="closeNavbar()">-->
<!--          <a class="nav-link" >{{'HeaderMenu.Home'}}</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown-link" >-->
<!--          <a class="nav-link"-->
<!--             data-toggle="dropdown"-->
<!--             aria-haspopup="true"-->
<!--             aria-expanded="false">{{'HeaderMenu.AboutUs'}}-->
<!--            <i class="fa fa-angle-down"></i>-->
<!--          </a>-->
<!--          <div class="dropdown-menu arrow-top">-->
<!--        <li class="nav-item"  (click)="closeNavbar()">-->
<!--          <a class="nav-link" >{{'HeaderMenu.AboutClinic'}}</a>-->
<!--        </li>-->
<!--        <li class="nav-item"  (click)="closeNavbar()">-->
<!--          <a class="nav-link">{{'HeaderMenu.OurWorks'}}</a>-->
<!--        </li>-->
<!--        <li class="nav-item" (click)="closeNavbar()">-->
<!--          <a class="nav-link" >{{'HeaderMenu.Documents'}}</a>-->
<!--        </li>-->
<!--        <li class="nav-item"  (click)="closeNavbar()">-->
<!--          <a class="nav-link">{{'HeaderMenu.VipService'}}</a>-->
<!--        </li>-->
<!--        <li class="nav-item" (click)="closeNavbar()">-->
<!--          <a class="nav-link" >{{'HeaderMenu.Cooperation'}}</a>-->
<!--        </li>-->

<!--    </div>-->
<!--    </li>-->
<!--    <li class="nav-item" (click)="closeNavbar()">-->
<!--      <a class="nav-link">{{'HeaderMenu.Doctors'}}</a>-->
<!--    </li>-->
<!--    <li class="nav-item"  (click)="closeNavbar()">-->
<!--      <a class="nav-link" >{{'HeaderMenu.Warranty'}}</a>-->
<!--    </li>-->
<!--    <li class="nav-item"(click)="closeNavbar()">-->
<!--      <a class="nav-link" >{{'HeaderMenu.Price'}}</a>-->
<!--    </li>-->
<!--    <li class="nav-item"  (click)="closeNavbar()">-->
<!--      <a class="nav-link" >{{'HeaderMenu.ContactUs'}}</a>-->
<!--    </li>-->
<!--    </ul>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->


