$opensans-regular: 'Open_Sans', sans-serif;
$opensans-light: 'Open_Sans_Light', sans-serif;
$opensans-semibold: 'Open_Sans_Semibold', sans-serif;
$opensans-bold: 'Open_Sans_Bold', sans-serif;
$iconfont: 'icon-font';
$header-height: 48px;
$footer-height: 74px;
$content-height: calc(100vh - #{$header-height + $footer-height});
$navigation-width: 75px;
$placeholder-color: #97999b;
$form-control-height: 34px;
$color-blue: #00a1de;
$color-blue-hover: #61bfeb;
$color-green: #81bc00;
$tooltip-color: rgba(83, 86, 90, 0.9);
$table-row-hover: rgba(0, 163, 224, .3);
$site-color: #000;
$site-color-2: #46b7de;
$link-color: #545b62;
$breadcrumb-bg: #fff;
